/* style.css */

:root {
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}

/* ... (Restante do CSS, sem alterações) ... */

.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

/* ... (Restante do CSS, sem alterações) ... */

/* CORREÇÃO IMPORTANTE AQUI */
/* Anteriormente você usava :hover para virar o cartão */
/* Agora, o JavaScript adiciona a classe 'active' quando clicado */
.cartao__conteudo.active { /* Adicionei a classe .active */
    transform: rotateY(180deg);
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
}

/* ... (Restante do CSS, sem alterações) ... */

/* CORREÇÃO IMPORTANTE AQUI */
@media (max-width: 560px) { /* Mudei (max width:560px) para (max-width: 560px) */

    body {
        /* Correção na sintaxe do background para mobile */
        background: url("img/bg-mobile.webp") no-repeat cover; 
    }

    .cartao {
        /* Correção na sintaxe do flex para mobile */
        flex: 1 0 calc(100% - 2rem); /* Ajustei o cálculo e a unidade */
    }

    .cartao__conteudo h3 {
        font-size: 3vw;
    }

    .cartao__conteudo p{
        font-size: 3.8vw;
    }
}

